p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', 'sans-serif';
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*---------HEADER----------*/

.header-contacts {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-navigation {
    display: flex;
    margin-right: auto;
}

.header {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 77px;
}

.header-logo-part {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-row {
    display: flex;
}

.header-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item {

}

/*---------MAIN----------*/

.main {
    background-color: rgba(46, 47, 66, 0.7);
    padding-top: 192px;
    padding-bottom: 192px;
    background-image: 
        linear-gradient(
            rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
            ), 
            url(../img/people-office.jpg);
    max-width: 1440px;
    max-height: 600px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.main-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
}

.main-btn:hover {
    background: #404BBF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}


/*---------MIDDLE----------*/

.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #FFFFFF;
    justify-content: center;
}

.advantages-link {
    background: #F4F4FD;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.doing {
    padding-bottom: 120px;
    background: #FFFFFF;
}

.doing-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}


.doing-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.middle-list {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.middle-title {
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}


/*---------TEAM----------*/

.team {
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;

}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.team-name {
    font-size: 20px;
    line-height: 1.20;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-text {
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-icon {
    fill: #F4F4FD;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404BBF;
}

/*---------CUSTOMERS----------*/

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-top: 130px;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    gap: 24px;
}

.customers-item {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    fill: #8E8F99;
}

.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-icon {
    fill: #8E8F99;
}

.customers-item:hover,
.customers-item:focus {
    border-color: #404BBF;
}

.customers-item:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: #404BBF;
}


/*---------FOOTER----------*/

.footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-list {
    display: flex;
}

.footer-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    margin-top: 16px;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-logo-part {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-soc-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-soc {
    margin-left: 120px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-soc-link:hover {
    background-color: #31D0AA;
}

.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-soc-icon {
    fill: #FFFFFF;
}


/*---------PORTFOLIO----------*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}


.portfolio-btn {
    cursor: pointer;
    background: #F4F4FD;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    height: 48px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}


.portfolio-btn:hover {
    background: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}

.works-title {
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.works-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

.works-list {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.works-item {
    width: 360px;
    left: 540px;
    top: 1224px;
}

.works-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-bg {
    color: #FFFFFF;
}

.works-border {
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

